@model Dictionary<String,List<LibrarySystem.Areas.Members.Models.LibraryMemberBase>>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LibrarySystemLayoutPage.cshtml";
}
<div style="width:50%;margin-left:auto;margin-right:auto">
<button onclick="window.location='Members/Staff'" style="background-color:aqua;width:100%;height:150px;font-size:xx-large;font-weight:bolder;margin-right:auto;margin-bottom:20px;margin-left:auto;vertical-align:middle;color:White">
    I Am Staff
</button><br />
<button onclick="window.location='Members/Member'" style ="background-color:blue;width:100%;height:150px;font-size:xx-large;font-weight:bolder;margin-right:auto;margin-left:auto;vertical-align:middle;color:White"">
   I am Non-Staff
</button>
    </div>
