<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="header"><h1>Library System</h1></div>
    
    <div>
        @RenderBody()
    </div>
</body>
</html>
